/* .divpai {
  background-image: url("../../assets/BackGround/rm218batch4-ning-40.jpg");
  background-size: cover;
  height: 200vh;
  width: 200vw;
} */

/* .titulohome {
  border-top: 30px;
} */
/* 
.card {
    border: 2px black solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 280px;
  
}

.titulo {
    background-color: beige;
    font-style: bold;
    font-size: larger;
    padding: 20px;
} */

/* .cardpai {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
} */

.cardP {
  display: flex;
  margin-left: 80px;
}

.HomeOutlined {
  width: 30px;
}

#card2 {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 15px;
  word-break: break-all;
  width: 250px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  border-radius: 12px;
}

#card2:hover {
  box-shadow: 4px 4px 4px 4px;
}

.titletitle {
}
