/* .card {
    border: 2px black solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.titulo {
    background-color: beige;
    font-style: bold;
    font-size: larger;
    padding: 20px;
} */